<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">海島SEA ISLAND</title>
    <link href="/css/output.css" rel="stylesheet">
    <!-- googleフォント -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <!-- 追加のCSSやスクリプトがあればここに書く -->
    <style>
        body {
            font-family: "Noto Sans JP", sans-serif;
        }
    </style>
</head>
<body class="flex flex-col min-h-screen bg-gray-100">

<header class="bg-gray-200 text-blue p-4 shadow-md">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/">
            <img src="/images/SEA_ISLAND_logo.png" srcset="/images/SEA_ISLAND_logo.png" alt="Sea Island Lottery Logo"
                 class="h-12 w-auto">
        </a>
        <nav class="flex items-center">
            <a href="/" class="text-lg font-bold text-blue-500 hover:text-blue-300 mx-2">イベント</a>

            <!--  sec:authorize => ログイン中ユーザー（認証）、何ができるか（認可）を管理するSpring Security機能をHTMLで使えるようにしてるThymeleaf文-->
            <!--   sec:authorize="isAnonymous()" => 未ログイン中に表示する -->
            <th:block sec:authorize="isAnonymous()">
                <a th:href="@{/login}" class="text-lg font-bold text-blue-500 hover:text-blue-300 mx-2">ログイン</a>
                <a th:href="@{/register}" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 mx-2">新規登録</a>
            </th:block>
            <!--   sec:authorize="isAuthenticated()" => ログイン中に表示する -->
            <th:block sec:authorize="isAuthenticated()">
                <a th:href="@{/ticket}" class="text-lg font-bold text-blue-500 hover:text-blue-300 mx-2">チケット</a>
                <a th:href="@{/mypage}" class="text-lg font-bold text-blue-500 hover:text-blue-300 mx-2">マイページ</a>
                <form th:action="@{/logout}" method="post" class="inline">
                    <button type="submit" class="text-lg font-bold text-red-500 hover:text-red-300 mx-2">ログアウト
                    </button>
                </form>
            </th:block>
        </nav>
    </div>
</header>

<main class="flex-grow container mx-auto p-4 mb-8" layout:fragment="content">
    <!-- 各ページのコンテンツがここに挿入される -->
</main>


<footer class="bg-gray-200 p-4 mt-auto">
    <div class="container mx-auto text-center">
        <p class="text-blue-600">&copy; 海島SEA ISLAND. All rights reserved.</p>
    </div>
</footer>

<!-- 各ページ固有のスクリプトがここに挿入される -->
<th:block layout:fragment="scripts"></th:block>

</body>
</html>
